<section>
    <div class="gradientBackground">
        <div class="container flex-center">
            <div class="row flex-center pt-5 ">
                <div class="col-12 col-md-6 text-center text-md-left margins">
                    <h1>Nous contacter</h1>
                    <h6>Lorem ipsum dolor sit amet, consectetur
                        adipisicing
                        elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat!
                        Commodi sequi
                        non animi ea dolor molestiae iste.
                        Lorem ipsum dolor sit amet, consectetur
                        adipisicing
                        elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat!
                        Commodi sequi
                        non animi ea dolor molestiae iste.
                    </h6>
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                    <img class="logo" src="./assets/logo.png">
                </div>
            </div>
        </div>
    </div>
</section>

