<section>
    <div class="gradientBackground">
        <div class="container flex-center">
            <div class="row flex-center pt-5 ">
                <div class="col-12 col-md-6 text-center text-md-left margins">
                    <h1>Nous contacter</h1>
                    <img class="avatar rounded-circle" width="50px" src="./assets/iconGaby.png" />
                    Marie Gabrielle: 06 34 48 97 82
                    <br>
                    <br>
                    <img class="avatar rounded-circle" width="50px" src="./assets/iconJc.png" />
                    Jean-Christophe: 06 63 56 96 71
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                    <img class="logo" src="./assets/logo.png">
                </div>
            </div>
        </div>
    </div>
</section>