<section>
    <div class="gradientBackground">
        <div class="container flex-center">
            <div class="row flex-center pt-5 ">
                <div class="col-12 col-md-6 text-center text-md-left">
                    <h1 class="p-3">Nous contacter</h1>
                    <div class="row p-3">
                        <div class="col-2">
                            <img class="avatar rounded-circle" width="50px" src="./assets/iconGaby.png" />
                        </div>
                        <div class="col-10">
                            Marie Gabrielle: 06 34 48 97 82
                            <br>
                            <a href="mailto:gabriellecouvez@sfr.fr">gabriellecouvez@sfr.fr</a>
                        </div>
                    </div>
                    <div class="row p-3">
                        <div class="col-2">
                            <img class="avatar rounded-circle" width="50px" src="./assets/iconJc.png" />
                        </div>
                        <div class="col-10">
                            Jean-Christophe: 06 63 56 96 71
                            <br>
                            <a href="mailto:jccouvez@me.com">jccouvez@me.com</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
</section>