nav {
    background-color: rgba(29, 29, 31, 0.8);
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

a {
    color: white;
    text-decoration-line: unset; //enlève le soulignement des textes du menu
    font-family: JosefinBold;
    width: auto;
}
