<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{flat.name}}</mat-card-title>
        <mat-card-subtitle>{{flat.type}} à {{flat.location}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{flat.photo1}}" alt="Photo Appartement">

    <mat-card-content>
        <p>{{flat.description}}</p>
        <h4>Basse Saison {{flat.lowSeason}}€ Haute Saison {{flat.pickSeason}}€ / 3 semaines</h4>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button (click)='openDialog()'>RESERVER</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-card-subtitle>
        <h5>Tous nos appartements sont équipés du WIFI, parking privé, paiement chèques vacances accéptés</h5>
        </mat-card-subtitle>
</mat-card>