.gradientBackground {
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: whitesmoke;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

button {
    margin: 10px;
}

.container {
    margin-top: -50px;
}

.col-12 {
    padding-top: 50px;
}


