.rowCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #1D1D1F;
}

::ng-deep .mat-mdc-card {
  border: none;
  border-radius: 0 !important;
  max-width: 300px;
}

.imgBackground {
  background: url('https://jimdiggler.github.io/siteCure/assets/city/aerien.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  height: 600px;
}

button {
  margin: 10px auto;
}

h6 {
  text-align: justify;
  font-size: 18px;
}

strong {
  font-family: 'JosefinBold';
}

.text {
  color: grey; 
}


