.rowCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 10px;
}

.gradientBackground {
  background: linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: whitesmoke;
}

.logo {
  display: block;
  max-width: 100%;
  height: auto;
  padding-left: 20px;
  padding-bottom: 50px;
}

button {
  margin: 10px auto;
}

.container {
  margin-top: -50px;
}

.col-12 {
  padding-top: 50px;
}

h6 {
  text-align: justify;
}

button {
  font-family: 'JosefinBold'; 
}
